<header class="pt-2 pb-2">
    <div class="container">
        <ul class="p-0">
            <li class="d-inline"><a href="/">Home</a></li>
            <li class="d-inline"><a href="{{ url('app_template') }}">Templates</a></li>
        </ul>
    </div>
</header>