{% extends 'base.html.twig' %}

{% block title %}Hello TemplateController!{% endblock %}

{% block body %}
    <div class="container">
        <h3>Templates</h3>
        {% for template in templates %}
            <div class="template-card mb-3 p-2">
                <div class="row">
                    <div class="col-12">
                        <a href="{{ url('app_template_details', { systemName: template.systemName }) }}">{{ template.name }} ({{ template.systemName }})</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <a href="{{ url('app_template_new') }}" class="btn btn-primary">Create Template</a>
    </div>
{% endblock %}
