
@import '~bootstrap/scss/bootstrap';
@import 'variables';

label.required:after,
legend.required:after {
  content: " *";
  color: red;
}

.post-card,
.template-card {
  border: 1px solid gray;
  border-radius: 5px;
}

.template-field-item {
  margin-bottom: 8px !important;
  .form-group {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px
  }
}