{% extends 'base.html.twig' %}

{% block title %}Update Post ({{ post.id }}){% endblock %}

{% block body %}
    <div class="container">
        <h3>Update Post ({{ post.id }})</h3>
        {% include 'post/_form.html.twig' with {form: form} %}
    </div>
{% endblock %}
